*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

html{
    font-size: 10px;
    height:100%
}

body{
    font-family: var(--font-family);
    font-size: var(--font-size);
    color: var(--light-color-alt);
    background-color: var(--background-color);
    height: 100%;
    display:flex;
    flex-direction: column;
}

a{
    text-decoration: none;
    color: inherit;
}

img{
    max-width: 100%;
    display: block;
}

ul{
    list-style: none;
}

input,button{
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}

table,th,td{
    border: 1px solid var(--light-color-alt);
    border-collapse: collapse;
    padding: 1rem;
}

.d-grid{
    display: grid;
}

.section-header-offset{
    padding-top: 9rem;
}

.container{
    max-width: 140rem;
    margin: 0 auto;
    padding: 0 var(--gap);
}

.header{
    background-color: var(--header-color);
    position:fixed;
    top:0;
    width: 100%;
    z-index: 100;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: var(--gap) var(--gap);
}

.logo{
    font-size: var(--font-size);
    color: var(--light-color);
}

.menu{
    position: absolute;
    top: 10rem;
    right: var(--gap);
    width: 20rem;
    padding: var(--gap);
    background-color: var(--header-color);
    display: none;
}

.list{
    display: flex;
    align-items:center;
    gap: var(--gap);
}

.menu > .list{
    flex-direction: column;
}

.btn{
    cursor: pointer;
}

.list-link:hover,
.btn:hover{
    color: var(--light-color);
}

.featured-articles{
    padding-top: 10rem;
}

.featured-articles-container,
.featured-content{
    gap: var(--gap);
}

.headline-banner{
    border-radius:1rem;
    font-size: var(--font-size-small);
    display: flex;
    justify-content: center;
    gap: var(--gap);
    background-color: var(--header-color);
    width: fit-content;
    padding-block: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.headline{
    color: var(--light-color);
}

.article{
    display: flex;
    flex-direction: row;
    min-height: var(--article-min-height);
    padding: var(--gap);
    background-color: var(--header-color);
}


.article-image{
    padding-right: var(--gap);
    width: 40%;
}

.article-data-container{
    display: flex;
    flex-direction: column;
}

.article-author{
    font-size: var(--font-size);
    color: var(--light-color);
}

.article-date{
    font-size: var(--font-size-small);
    color: var(--light-color-alt);
}

.article-data{
    font-size: var(--font-size-medium);
    color: var(--light-color-alt);
    margin-top: var(--gap);
}

.article-title{
    font-size: var(--font-size);
    color: var(--light-color);
    margin-top: var(--gap);
    display: flex;
    justify-content:center;
}

.footer {
    padding: var(--gap);
    margin-top:auto;
}

.footer-container {
    gap: var(--gap);
    display: flex;
    justify-content: space-between;
    padding-block: var(--gap);
}

.footer-nav{
    display: flex;
    flex-direction: column;
    gap: var(--gap);
    color: var(--light-color);
    font-size: var(--font-size-medium);
}

.footer-social{
    display: flex;
    gap: var(--gap);
    color: var(--light-color);
    font-size: var(--font-size-medium);
}

.info-table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
  }
  
.info-table td {
    padding: 1rem;
    border: 1px solid var(--border-color);
    text-align: left;
}

.info-table td:first-child {
    font-weight: bold;
    background-color: var(--header-color);
}
  
.canvas {
    width: 100%;
    height: 500px;
    border: 1px solid var(--border-color);
}
  